.main {
  min-height: 70vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.listed-card {
  display: flex;
  flex-direction: row;
  margin: 4px;
}

a {
  text-decoration: none;
  color: black;
}

.listed-card img {
  width:75px;
  height:auto;
}

.listed-card-details {
  margin-left: 8px;
}

ul {
  list-style-type: none;
}
