.card-main {
  max-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.card-img img{
  max-width: 100%;
  height: auto;
  background-size: cover;
  margin-top: 8px;
}

.card-left {
  grid-column: 1;
}
.card-right {
  grid-column: 2;
}

.card-recos {
  grid-column: 1/3;
  grid-row: 2;
}
