
@keyframes loading-flipperFadeInOut {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#loading-flipper {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-flipper img {
  animation-duration: 5s;
  animation-name: loading-flipperFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
}

#loading-flipper img:nth-of-type(1) {
  animation-delay: 6s;
  width:75px;
  height:auto;
  opacity: 0.2;
}

#loading-flipper img:nth-of-type(2) {
  animation-delay: 4s;
  width:75px;
  height:auto;
  opacity: 0.3;
}

#loading-flipper img:nth-of-type(3) {
  animation-delay: 2s;
  width:75px;
  height:auto;
  opacity: 0.4;
}

#loading-flipper img:nth-of-type(4) {
  animation-delay: 0;
  width:75px;
  height:auto;
  opacity: 0.6;
}
