.header-main {
  height: 50px;
  width: 100%;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #79E7D4;
  position: sticky;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}

.tk-tarot-logo-header {
  height: 50px;
  margin-left: 10px;
}

.menu-icon {
  height: 25px;
  margin-right: 10px;
}
