@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.app {
  background: linear-gradient(180deg, rgba(121, 231, 212, 0.5) 0%, rgba(121, 231, 212, 0) 100%);
  min-height: 100vh - 50px;
  min-width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.header {
  width: 100%;
  position: sticky;
}


@media(max-width: 480px) {
	h2 {
		font-size: 20px;
	}
}
@media(max-width: 480px) {
  h3 {
		font-size: 16px;
	}
}



@media screen and (min-width: 481px) and (max-width: 600px) {
	h2 {
		font-size: 24px;
	}

  h3 {
		font-size: 20px;
	}
}

@media screen and (min-width: 601px) {
	h2 {
		font-size: 28px;
	}

  h3 {
		font-size: 24px;
	}

}

h2 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

h3 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
p {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 2vw;
}

li {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 2vw;
}
